<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Bus Arrival Time</h1>
    </div>
</div>
<div class="topcoat-list__container scroller" style="top:69px;">
    <ul class="topcoat-list list">
        <li ng-repeat="menu in main" class="topcoat-list__item">
            <a ng-click="go('/' + menu.id)">
                <p>{{menu.text}}</p>
				 <span class="chevron"></span>
            </a>
        </li>
    </ul>
</div>
